
<footer class="text-center text-white" style="background-color: #3f51b5">

    <div class="container">

        <!-- Links -->
        <section class="pt-5">

            <div class="row text-center d-flex justify-content-center align-items-center gap-3">
                
                <!-- Link 1 -->
                <div class="col-md-2">
                    <h6 class="text-uppercase">
                        <a 
                            href="/" 
                            class="
                                text-white text-decoration-none 
                                d-flex justify-content-center align-items-center gap-2
                            "
                        >
                            <i class="material-icons fs-5">history</i>
                            My Records
                        </a>
                    </h6>
                </div>

                <!-- Link 2 -->
                <div class="col-md-2">
                    <h6 class="text-uppercase">
                        <a 
                            href="/create" 
                            class="
                                text-white text-decoration-none 
                                d-flex justify-content-center align-items-center gap-2
                            "
                        >
                            <i class="material-icons fs-5">edit_square</i>
                            Track
                        </a>
                    </h6>
                </div>

                <!-- Link 3 -->
                <div class="col-md-2">
                    <h6 class="text-uppercase">
                        <a 
                            href="/analysis" 
                            class="
                                text-white text-decoration-none 
                                d-flex justify-content-center align-items-center gap-2
                            "
                        >
                            <i class="material-icons fs-5">analytics</i>
                            Analysis
                        </a>
                    </h6>
                </div>

            </div>
        </section>

        <!-- Horizontal Line -->
        <hr class="my-5" />

        <!-- Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p class="fs-3 fw-light">
                        TraXercise - Your Ultimate Exercise Tracker for a Healthier Lifestyle
                    </p>
                </div>
            </div>
        </section>

    </div>


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright: 
        <a class="text-white fw-bold text-decoration-none" href="/">
            TraXercise
        </a>
    </div>

</footer>