<!-- Modal -->
<div 
    class="modal fade" 
    id="loading-modal" 
    data-bs-backdrop="static"
    data-bs-keyboard="false" 
    tabindex="-1" 
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-body d-flex flex-column align-items-center">
            <img src="/images/runner.gif" alt="Loading..." style="width: 200px; height: 200px;">
            <h3 class="text-center fw-bold m-0">Please wait...</h3>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        showLoading();
    });

    function showLoading() {
        const modalElement = document.getElementById('loading-modal');
        const modal = new bootstrap.Modal(modalElement, { keyboard: false });
        modal.show();
    }

    function hideLoading() {
        const modalElement = document.getElementById('loading-modal');
        const modal = bootstrap.Modal.getInstance(modalElement);
        modal.hide();
    }
</script>