

<nav class="navbar navbar-expand-lg py-3">

    <!-- Wrap in container to fix large screen -->
    <div class="container">
        
        <!-- Navbar brand -->
        <a class="navbar-brand d-flex align-items-center gap-3 fw-bold fs-4" href="/">
            <i class="material-icons fs-3">sports</i>
            TraXercise
        </a>

        <!-- Toggle when screen is small -->
        <button 
            class="navbar-toggler bg-light" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation"
        >
            <i class="material-icons py-1">menu_open</i>
        </button>

        
        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Navigation links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1 fw-semibold">

                <li class="nav-item hover-underline primary">
                    <a 
                        href="/"
                        style="color: var(--primary-color);"
                        class="nav-link d-flex align-items-center gap-2 active"
                    >
                        <i class="material-icons fs-5">history</i>
                        My Records
                    </a>
                </li>

                <li class="nav-item hover-underline primary">
                    <a 
                        href="/create"
                        style="color: var(--primary-color);"
                        class="nav-link d-flex align-items-center gap-2 active" 
                    >
                        <i class="material-icons fs-5">edit_square</i>
                        Track
                    </a>
                </li>

                <li class="nav-item hover-underline primary">
                    <a 
                        href="/analysis"
                        style="color: var(--primary-color);"
                        class="nav-link d-flex align-items-center gap-2 active" 
                    >
                        <i class="material-icons fs-5">analytics</i>
                        Analysis
                    </a>
                </li>

            </ul>
            
        </div>
    </div>
</nav>