<script>

    const suggestions = {
        AEROBIC : [
            'Badminton', 'Basketball', 'Cycling', 'Aerobic dance',
            'Hiking', 'Jogging', 'Jumping rope', 
            'Kickboxing', 'Rowing', 'Running', 'Soccer', 
            'Step aerobics', 'Swimming', 'Tennis',
            'Volleyball', 'Walking', 'Water aerobics',
            'Yoga (Aerobic)', 'Zumba', 'Other'
        ],
        ANAEROBIC: [
            'Abs workout', 'Chest workout', 'Arm workout', 
            'Leg workout', 'Shoulder workout', 'Back workout',
            'Other',
        ],
        HYBRID: [
            "Circuit Training", "Tabata", "HIIT", 
            "Crossfit", "Plyometrics", "Other",
        ],
    };


    function initializeDateField() {
        const dateField = $("#activityDate");
        const today = new Date();
        const todayString = today.toISOString().split("T")[0];
        dateField.val(todayString);
    }



    // On select exercise type, add suggestions that will auto-fill the activity name
    // on click of the suggestion
    function onExerciseTypeSelected(event) {
        const inputField = $("#activityName");
        const suggestionsDiv = $("#suggestions");
        const type = event.target.value;

        // Clear the suggestions div
        suggestionsDiv.empty();

        // Add the suggestions for the selected exercise type
        suggestions[type].forEach((suggestion) => {
            const badge = $(`<span class="badge bg-info">${suggestion}</span>`);
            badge.click(() => inputField.val(suggestion));
            badge.css("cursor", "pointer");
            suggestionsDiv.append(badge);
        });
    }



    function onFormSubmit(event) {
        showLoading();
        event.preventDefault();

        let formData = $(this).serializeArray();

        let data = {
            name: formData[0].value,
            type: formData[1].value,
            activity: formData[2].value,
            duration: parseInt(formData[3].value),
            date: formData[4].value,
        };

        let onSuccess = function (response) {
            console.log(response);
            hideLoading();
            location.reload();
        };

        let onError = function (err) {
            console.log(err);
            hideLoading();
        };

        $.ajax({
            url: "/api/exercise-records",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: onSuccess,
            error: onError,
        });
    }




    $(document).ready(()=> {
        $("#tracker-form").submit(onFormSubmit);
        $(".btn-check").change(onExerciseTypeSelected);
        initializeDateField();
    });

</script>